{% extends '_base.html' %}

{% block content %}
    <section class="intro-page">
    <a href="#" class="txt" id="txt">
        <b>J</b><b>O</b><b>I</b><b>N</b><b> </b><b>U</b><b>S</b>
    </a>
        Whether you are an organization in need of support, a volunteer eager to make a difference,
        or someone looking to open your home and heart to a new furry family member, Snugglify welcomes you.
        Together, we can make a substantial impact on the lives of dogs, cats, and the people who love them.
        Join us in our mission to create a kinder, more compassionate world for pets and people alike.

        Let's make a difference, one paw at a time. Welcome to Snugglify where love, care, and support for animals unite us all.
    </section>
{% endblock content %}