/* General body styling */

.nav-brand a {
    text-decoration: none;
    color: white; 
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #000; 
    margin: 0;
    padding: 0;

}

.nav-brand {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.nav-brand img {
    margin-right: 10px;
}

.nav-brand {
    display: flex;
    justify-content: left; 
    align-items: center; 
    height: 15vh; 

}

.nav-brand img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}

/* Section styling for intro-page, vision, and mission */
section {
    padding: 20px;
    text-align: center;
    font-size: 20px; 
    max-width: 720px; 
    margin: auto; 
    line-height: 1.5;
    white-space: pre-wrap; 
}


/* Footer styling */
footer {
    /* Add styling for the footer */
}

.title {
    font-style: italic;
    text-align: center;
}
/* Responsive design breakpoints if needed */

    section {
        margin: auto;
        font-size: 20px; /* Smaller font size for smaller screens */
        max-width: 100%; /* Allow the text to fill the container on small screens */
        padding: 10px;
    }


    /* style.css button */
.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0055ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: #333; 
}

