{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Donation form</h2>

    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
        <script>
            var amount = document.getElementById('id_amount');
        </script>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-description="Donation to charity"
            data-amount={{ amount.value }}
            data-locale="auto"></script>
    </form>
{% endblock content %}