{% extends '_base_manager.html' %}

{% block content %}
    <div class="container col-md-6 col-md-offset-3 info">
        <h1>{{ shelter.name }}</h1>
        <p>{{ shelter.address }}</p>
        <p>{{ shelter.city }}, {{ shelter.state }} {{ shelter.zip }}</p>
        <p>{{ shelter.phone }}</p>
        <p>{{ shelter.email }}</p>
        <p>{{ shelter.website }}</p>
    </div>

    <div class="container col-md-6 col-md-offset-3 pets">
        <h2>Animals</h2>
    <div class="petslist">
            {% for pet in shelter.get_pets %}
                <div class="col-md-4 petitem">
                    <img src="{{ pet.photo.url }}" alt="{{ pet.name }}" width="200px" />
                    <h3><a href="{% url "edit_pet" pet.id %}">{{ pet.name }}</a></h3>
                    <p>{{ pet.species|title }}</p>
                    <p>{{ pet.breed }}</p>
                    <p>{{ pet.age }} years old</p>
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock content %}
